html, body {
  height: 100%;
  background-color: #000;
  overflow: hidden;
  margin: 0;
}

#root {
  display: flex;
}

.container {
  width: 50%;
  min-height: 100vh;
  background-color: #fff;
  display: inline-block;
  box-sizing: border-box;
}

@media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3) {
  html, body {
    overflow: scroll;
  }
  .container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
  }
  .container > div {
    flex: 1;
    display: flex;
  }
}

.preview-container {
  border: solid transparent 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #1a1b26;
  color: #a9b1d6;
  font-family: Helvetica, sans-serif;
}

.preview-container code {
  font-family: SauceCodePro Nerd Font, CaskaydiaCove NF, Fira Code Nerd Font, Fira Code iCursive S12, Fira Code iCursive Op, UbuntuMono Nerd Font, Mononoki Nerd Font, CodeNewRoman NF, monospace;
  font-size: 20px;
  color: #7AA2F7;
}
